<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YilmazAlu - Ana Sayfa</title>
    <link href="~/Content/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/main.css" rel="stylesheet" />
</head>   
<body>
    <div class="container hareketlitop">
        <div class="container-fluid basalan">
            <div class="topkismi">
                <div class="yukarikoselogo col-lg-5">
                    <a href="/Home/Index"><img src="~/Content/img/Logo.jpg" /></a>
                </div>
                <div class="yukarikoseiletisim col-lg-7">
                    <div>
                        <a href="~/Views/Home/Contact.cshtml">Telefon:</a><br />
                        <span>0090 (216) 593 0882</span>
                    </div>
                    <div>
                        <a href="~/Views/Home/Contact.cshtml">Faks:</a><br />
                        <span>0090 (216) 593 2272</span>
                    </div>
                    <div class="musterihzmtrsm">
                        <img class="img-responsive d-none d-sm-block" src="~/Content/img/5.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid topkismialt">
            <div class="">
                <ul class="col-12 topul">
                    <li class="col-xl-2 col-lg-3 col-md-6 d-none d-md-block"><a href="/Home/Index">Ana Sayfa</a></li>
                    <li class="col-xl-2 col-lg-3 d-none d-lg-block"><a href="/Home/About">Kurumsal</a></li>
                    <li class="col-xl-2 d-none d-xl-block"><a href="/Home/Services">Hizmetler</a></li>
                    <li class="col-xl-2 d-none d-xl-block"><a href="/Home/NewProjects">Projeler</a></li>
                    <li class="col-xl-2 col-lg-3 d-none d-lg-block"><a href="/Home/References">Referanslar</a></li>
                    <li class="col-xl-2 col-lg-3 col-md-6 col-sm-12 col-xs-12"><a href="/Home/Contact">İletişim</a></li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
    <div class="container body-content bodyust">
        @RenderBody()
        <hr />
        <footer class="ayak">
            <p>&copy; @DateTime.Now.Year - <a href="/Home/Index">Yilmaz Çelik Aluminyum</a> Tüm Haklarını Saklı Tutar.</p>
        </footer>
    </div>
    <script src="~/Content/Js/modernizr-2.8.3.js"></script>
    <script src="~/Content/Js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Js/jquery.validate-vsdoc.js"></script>
    <script src="~/Content/Js/jquery.validate.min.js"></script>
    <script src="~/Content/Js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Js/bootstrap.min.js"></script>
</body>
</html>